<section class="section section-xxl text-left context-dark bg-gray-13 bg-image bg-image-4" style="background-image: url(images/bg-about-1.jpg);">
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-md-7 col-lg-6 box-about">
            <h2 class="title-style-9 wow fadeInRight">A few Words <span>About </span> Bandico
            </h2>
            <p class="wow fadeInRight" data-wow-delay=".1s">Daniel Bandico, better known by his stage name Bandico, is a 27 y.o. singer and rapper, born and raised in Los Angeles.</p>
            <p class="wow fadeInRight" data-wow-delay=".2s">He broke into music scene with his first mixtape M.A.D, released in June 2015. Since then, he has been building his career as R&B performer with numerous releases.</p><img src="images/signature-2-230x78.png" alt="" width="230" height="78"/>
        </div>
        </div>
    </div>
</section>
    