<section class="section section-xxl bg-default">
    <div class="container">
        <div class="row row-30 justify-content-center justify-content-md-between align-items-center">
        <div class="col-sm-7 col-md-4 col-lg-5 col-xl-7">
            <div class="slick-slider-2">
            <div class="slick-slider child-carousel" id="child-carousel-4" data-items="1" data-arrows="true" data-arrows-class=".custom-arrows" data-for="#carousel-parent-4">
                <div class="item"><img class="rounded-circle" src="images/home-1-333x333.jpg" alt="" width="333" height="333"/>
                </div>
                <div class="item"><img class="rounded-circle" src="images/home-2-333x333.jpg" alt="" width="333" height="333"/>
                </div>
            </div>
            <div class="custom-arrows"></div>
            </div>
        </div>
        <div class="col-md-7 col-lg-6 col-xl-5">
            <div class="slick-slider carousel-parent" id="carousel-parent-4" data-items="1" data-autoplay="true" data-slide-effect="true" data-child="#child-carousel-4" data-for="#child-carousel-4">
            <div class="item">
                <article class="product-beth">
                <div class="product-beth-badge">2020</div>
                <h2 class="product-beth-title"><a href="single-product.html">Bandico Square</a></h2>
                <div class="player-list">
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-0" role="application" aria-label="media player">
                        <ul class="jp-player-list">
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="1. Time To Shine" data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="1. Time To Shine" data-jp-artist="" data-jp-mp3="audio/sound-1.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-1" role="application" aria-label="media player">
                        <ul class="jp-player-list">
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="2. Create Your Future (feat. Jane K)" data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="2. Create Your Future (feat. Jane K)" data-jp-artist="" data-jp-mp3="audio/sound-2.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-2" role="application" aria-label="media player">
                        <ul class="jp-player-list">
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="3. This City Never Sleeps" data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="3. This City Never Sleeps" data-jp-artist="" data-jp-mp3="audio/sound-1.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-3" role="application" aria-label="media player">
                        <ul class="jp-player-list">
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="4. A Call From Bandico Square " data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="4. A Call From Bandico Square " data-jp-artist="" data-jp-mp3="audio/sound-3.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                </div>
                <div class="group-md group-middle"><a class="button button-gray-800 button-zakaria" href="#">Buy on itunes</a><a class="button button-default-outline button-zakaria" href="#">Buy on amazon</a></div>
                </article>
            </div>
            <div class="item">
                <article class="product-beth">
                <div class="product-beth-badge">2020</div>
                <h2 class="product-beth-title"><a href="single-product.html">Just a Beginning</a></h2>
                <div class="player-list">
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-4" role="application" aria-label="media player">
                        <ul class="jp-player-list"> 
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="1. Better Than Nothing" data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="1. Better Than Nothing" data-jp-artist="" data-jp-mp3="audio/sound-3.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-5" role="application" aria-label="media player">
                        <ul class="jp-player-list">
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="2. Totally Unmatched" data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="2. Totally Unmatched" data-jp-artist="" data-jp-mp3="audio/sound-2.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-6" role="application" aria-label="media player">
                        <ul class="jp-player-list">
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="3. Welcome To My World (feat. Dangerous Joe)" data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="3. Welcome To My World (feat. Dangerous Joe)" data-jp-artist="" data-jp-mp3="audio/sound-1.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                    <div class="jp-player-init">
                    <div class="jp-jplayer"></div>
                    <div class="jp-audio jp-audio-7" role="application" aria-label="media player">
                        <ul class="jp-player-list">
<<<<<<< HEAD
                        <li class="jp-player-list-item" data-jp-title="4. Never Settle (feat. Mega Squad)" data-jp-artist="" data-jp-mp3=""></li>
=======
                        # <li class="jp-player-list-item" data-jp-title="4. Never Settle (feat. Mega Squad)" data-jp-artist="" data-jp-mp3="audio/sound-1.mp3"></li>
>>>>>>> 8be13bc17fc15a3aae7ea1cf5bbc5720864da351
                        </ul>
                        <div class="jp-interface">
                        <div class="jp-button jp-controls">
                            <button class="jp-btn jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                            <li> </li>
                            </ul>
                        </div>
                        <div class="jp-time-rail">
                            <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                            <div class="jp-time-wrapper">
                                <div class="jp-duration"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="jp-no-solution"><span>Update Required</span>           To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
                    </div>
                    </div>
                </div>
                <div class="group-md group-middle"><a class="button button-gray-800 button-zakaria" href="#">Buy on itunes</a><a class="button button-default-outline button-zakaria" href="#">Buy on amazon</a></div>
                </article>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>