<section class="section section-xxl bg-dark context-dark">
    <div class="container">
        <h2>Upcoming Events</h2>
        <!-- Swiper-->
        <div class="swiper-container swiper-slider swiper-slider-custom swiper-slider-5 swiper-scrollbar-1" data-autoplay="5000" data-margin="40" data-slides="auto" data-direction="vertical" data-simulate-touch="true" data-mousewheel="true">
        <div class="swiper-wrapper">
            <% events.each do |event| %>
                <div class="swiper-slide">
                <!-- Product-->
                <article class="event-classic">
                    <div class="unit unit-spacing-0 flex-column flex-sm-row align-items-sm-center">
                    <div class="unit-left align-self-stretch"><a class="event-classic-figure" href="#"><img class="event-classic-image" src="images/event-1-385x392.jpg" alt="" width="385" height="392"/></a></div>
                    <div class="unit-body flex-grow-1">
                        <div class="event-classic-body">
                        <div class="unit unit-spacing-sm flex-column flex-md-row-reverse justify-content-md-between">
                            <div class="unit-left">
                            <time class="event-classic-time" datetime="2020-08-11"><span class="event-classic-date"><%= event.date %></span></time>
                            </div>
                            <div class="unit-body">
                            <h3 class="event-classic-title"><a href="#"><%= event.name %></a></h3>
                            <ul class="event-classic-panel">
                                <li class="event-classic-price"><span class="icon fa fa-ticket"></span><span>Pre-sale: 08.00 AM, May 15</span></li>
                                <li class="event-classic-location"><span class="icon fa fa-location-arrow"></span><a href="#"><%= event.location %></a></li>
                            </ul>
                            <p class="event-classic-text"><%= event.description %></p><a class="link-classic event-classic-link" href="#">buy tickets</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </article>
                </div>
            <% end %>
            <div class="swiper-slide swiper-slide-last"></div>
        </div>
        <!-- Siwper Scrollbar-->
        <div class="swiper-scrollbar"></div>
        </div>
        <div class="row">
        <div class="col-12"><a class="button button-gray-144" href="events.html">View All Events</a></div>
        </div>
    </div>
</section>