<footer class="section footer-creative footer-creative-2">
    <div class="footer-classic-body section-xl context-dark">
        <div class="container">
        <div class="row row-40 row-md-50 justify-content-sm-between">
            <div class="col-lg-5 wow fadeInRight">
            <div class="inset-xl-right-55">
                <h4 class="footer-creative-title">About us</h4>
                <p>Bandico is a young and talented R&amp;B singer and rapper, hailing from Los Angeles, CA. His unique style is a blend of underground hip-hop and modern R&amp;B that has already brought him a huge success and national recognition.</p>
                <div class="group-sm group-middle"><a class="button button-shadow-2 button-gray-800 button-zakaria" href="grid-fullwidth-gallery.html">View albums</a><a class="button button-shadow-2 button-white button-zakaria" href="grid-blog.html">View events</a></div>
            </div>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay=".1s">
            <h4 class="footer-creative-title">Contacts</h4>
            <ul class="contacts-holly">
                <li>
                <div class="contacts-holly-title">Phone</div>
                <div class="contacts-holly-text"><a href="tel:#">+1 (844) 123 456 78</a></div>
                </li>
                <li>
                <div class="contacts-holly-title">Address</div>
                <div class="contacts-holly-text"><a href="#">523 Sylvan Ave, 5th Floor<br/>Mountain View, CA 94041 USA</a></div>
                </li>
                <li>
                <div class="contacts-holly-title">E-mail</div>
                <div class="contacts-holly-text"><a href="mailto:#">info@demolink.org</a></div>
                </li>
            </ul>
            </div>
            <div class="col-sm-5 col-lg-2 wow fadeInRight" data-wow-delay=".2s">
            <h4 class="footer-creative-title">Menu</h4>
            <ul class="footer-creative-list">
                <li><a href="bio.html">About Bandico</a></li>
                <li><a href="discography.html">Discography</a></li>
                <li><a href="discography.html">Gallery</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="footer-creative-panel">
        <div class="container">
        <div class="row row-10 align-items-center justify-content-sm-between">
            <div class="col-sm-auto">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Bandico</span><span>.&nbsp; All rights reserved.</span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a>.</p>
            </div>
            <div class="col-sm-auto">
            <ul class="list-inline list-social list-inline-sm">
                <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</footer>