<section class="section section-xl bg-gray-4">
    <div class="container">
        <div class="row row-30 justify-content-center">
        <div class="col-sm-6 col-md-4">
            <h4>Phones</h4>
            <ul class="contacts-classic">
            <li>Office <a href="tel:#">+1 (409) 987–5874</a>
            </li>
            <li>Fax <a href="tel:#">+1 (409) 987–5874</a>
            </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4">
            <h4>Address</h4>
            <div class="contacts-classic"><a href="#">523 Sylvan Ave, 5th Floor <br>Mountain View, CA 94041 USA</a></div>
        </div>
        <div class="col-sm-6 col-md-4">
            <h4>E-mails</h4>
            <ul class="contacts-classic">
            <li><a href="mailTo:#">info@demolink.org</a></li>
            <li><a href="mailTo:#">mail@demolink.org</a></li>
            </ul>
        </div>
        </div>
    </div>
</section>