<section class="section section-xxl bg-default">
    <div class="container">
        <div class="row no-gutters" data-lightgallery="group">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box-info-rose">
            <h3 class="box-info-rose-title">Become a fan</h3>
            <div class="unit flex-column flex-md-row unit-spacing-sm">
                <div class="unit-left"><span class="box-info-rose-icon fa-instagram"></span></div>
                <div class="unit-body">
                <h2 class="box-info-rose-number">1.2M</h2>
                <div class="box-info-rose-author">Followers</div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3"><a class="thumbnail-minimal" href="images/grid-gallery-1-1200x800-original.jpg" data-lightgallery="item"><img src="images/grid-gallery-1-290x219.jpg" alt="" width="290" height="219"/></a></div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3"><a class="thumbnail-minimal" href="images/grid-gallery-2-2-1200x800-original.jpg" data-lightgallery="item"><img src="images/grid-gallery-2-290x219.jpg" alt="" width="290" height="219"/></a></div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3"><a class="thumbnail-minimal" href="images/grid-gallery-3-3-1200x800-original.jpg" data-lightgallery="item"><img src="images/grid-gallery-3-290x219.jpg" alt="" width="290" height="219"/></a></div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3"><a class="thumbnail-minimal" href="images/grid-gallery-4-1200x800-original.jpg" data-lightgallery="item"><img src="images/grid-gallery-4-290x219.jpg" alt="" width="290" height="219"/></a></div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3"><a class="thumbnail-minimal" href="images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item"><img src="images/grid-gallery-5-290x219.jpg" alt="" width="290" height="219"/></a></div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3"><a class="thumbnail-minimal" href="images/grid-gallery-6-1200x800-original.jpg" data-lightgallery="item"><img src="images/grid-gallery-6-290x219.jpg" alt="" width="290" height="219"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center">
            <div class="box-info-rose-2">
            <h6 class="box-info-rose-text">instagram</h6><a class="link-classic link-primary" href="#">+ join now</a>
            </div>
        </div>
        </div>
    </div>
</section>