<section class="section parallax-container section-custom-1" data-parallax-img="<%= url %>">
    <div class="parallax-content context-dark text-center">
        <div class="section-md">
        <div class="container">
            <div class="box-info-renee-decor"></div>
            <div class="box-info-renee-subtitle wow fadeInLeft">New Album in stores!</div>
            <h1 class="box-info-renee-title wow fadeScale">Bandico</h1><a class="link-classic link-classic-md box-info-renee-link wow fadeInUp" href="#">Buy now</a>
        </div>
        </div>
    </div>
</section>