<section class="breadcrumbs-custom">
    <div class="parallax-container" data-parallax-img="<%= background_image %>">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
        <div class="container">
            <h2 class="breadcrumbs-custom-title"><%= title %></h2>
        </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="grid-shop.html">Shop</a></li>
            <li class="active">Single Product</li>
        </ul>
        </div>
    </div>
</section>