<section class="section section-xxl text-sm-left bg-image-5 context-dark section-relative">
    <div class="container">
        <div class="row row-30 justify-content-center justify-content-sm-end">
        <div class="col-12 d-sm-none"><img src="images/image-1-1010x608.jpg" alt="" width="1010" height="608"/>
        </div>
        <div class="col-sm-6 col-md-5">
            <article class="box-info-beryl">
            <h2 class="box-info-beryl-title wow fadeInRight"><%= event.name %></h2>
            <div class="heading-2 text-primary box-info-beryl-time wow fadeInRight" data-wow-delay=".1s">
                <time datetime="2020-05-05"><%= event.date %></time>
            </div>
            <p class="box-info-beryl-text wow fadeInRight" data-wow-delay=".2s"><%= event.description %></p><a class="button button-white button-zakaria wow fadeInUp" href="<%= event.event_url">buy tickets</a>
            </article>
        </div>
        </div>
    </div>
    <div class="bg-image bg-image-7" style="background-image: url(images/image-1-1010x608.jpg);"></div>
    <div class="bg-image-6"></div>
</section>