<!DOCTYPE html>
<html>
  <head>
    <title>Lancewoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/javascripts/core.min.js" defer></script>
  </head>

  <body>
    <%= yield %>
    <%= yield :javascript_includes %>
    <script type="text/javascript" src="/javascripts/script.js" defer></script>
  </body>
</html>
